# exclude data
*.json
*.pkl
*.csv

# exclude everything
Data/Pro Match Details/*
flask/Lib/*
flask/Scripts/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
