{% extends "base.html" %}
{% block content %}
    <h1>Hi, {{ user.nickname }}!</h1>
    <p>Welcome to the draft analyzer</p>
    <div class="container centered">
    	<div class="row">
    		
    		<img class="col-md-2" id="hero1_portrait" src='/static/img/empty_hero_slot.png'></img>
    		<img class="col-md-2" id="hero2" src='/static/img/empty_hero_slot.png'></img>
    		<img class="col-md-2" id="hero3" src='/static/img/empty_hero_slot.png'></img>
    		<img class="col-md-2" id="hero4" src='/static/img/empty_hero_slot.png'></img>
    		<img class="col-md-2" id="hero5" src='/static/img/empty_hero_slot.png'></img>

    		<!--
    		<div class="col">
	    		<img id="hero1" src='/static/img/empty_hero_slot.png'></img>
	    	</div>
	    	<div class="col">
	    		<img id="hero2" src='/static/img/empty_hero_slot.png'></img>
	    	</div>
	    	<div class="col">
	    		<img id="hero3" src='/static/img/empty_hero_slot.png'></img>
	    	</div>
	    	<div class="col">
	    		<img id="hero4" src='/static/img/empty_hero_slot.png'></img>
	    	</div>
	    	<div class="col">
	    		<img id="hero5" src='/static/img/empty_hero_slot.png'></img>
	    	</div>
	    	!-->
	    </div>
	    <div class="row">
			<input type="text" id="hero1_input" height="200" value="22">
			<input type="button" id="hero1_button"value="Hero 1">
	    </div>
    </div>
{% endblock %}