{% extends "base.html" %}
{% block content %}
    <h1>Hi, {{ user.nickname }}!</h1>
    <p>Welcome to the draft analyzer</p>
    <div class="container centered">
    	<div class="row">
    		
    		<img class="col-md-2" id="hero1_portrait" src='/static/img/empty_hero_slot.png'></img>
    		<img class="col-md-2" id="hero2_portrait" src='/static/img/empty_hero_slot.png'></img>
    		<img class="col-md-2" id="hero3_portrait" src='/static/img/empty_hero_slot.png'></img>
    		<img class="col-md-2" id="hero4_portrait" src='/static/img/empty_hero_slot.png'></img>
    		<img class="col-md-2" id="hero5_portrait" src='/static/img/empty_hero_slot.png'></img>

	    </div>
	    <br>
	    <div class="row">
	    	<select id="hero1_dropdown">
	    		<option value=null></option>
	    	</select>
	    	<select id="hero2_dropdown">
	    		<option value=null></option>
	    	</select>			
	    	<select id="hero3_dropdown">
	    		<option value=null></option>
	    	</select>
	    	<select id="hero4_dropdown">
	    		<option value=null></option>
	    	</select>
	    	<select id="hero5_dropdown">
	    		<option value=null></option>
	    	</select>
	    </div>
	    <div class="row">
	    	<input type="button" id="ally_picks_button" value="Ally Picks">
	    </div>
    </div>
{% endblock %}